*_log.txt
anthro_driver_fit/*
!anthro_driver_fit/receipt.json
anthro_driver_zmp/*
!anthro_driver_zmp/receipt.json
anthro_iron_zmp/*
!anthro_iron_zmp/receipt.json
anthro_driver_shoot/*
!anthro_driver_shoot/receipt.json
anthro_iron_shoot/*
!anthro_iron_shoot/receipt.json
anthro_driver_shoot_g025/*
!anthro_driver_shoot_g025/receipt.json
anthro_*/mjx_package.npz
anthro_*/mjx_optimised_reference*.npz
anthro_*/mjx_diag_*.txt
anthro_*/mjx_*_log.txt
anthro_*/downswing_*.npz
anthro_*/mjx_candidate_snapshot*.npz
anthro_*/mjx_h145*.npz
anthro_*/mjx_diagnose.npz
