name: Auto-Update PRs
on:
  push:
    branches: [ "master", "main" ]

permissions:
  contents: write
  pull-requests: write

jobs:
  update-prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update PRs with strictly linear history
        uses: chinthakagodawita/autoupdate-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
